[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arthistory"]
	path = arthistory
	url = https://github.com/saralemus7/arthistory
